
.backgroundish{
background-image: url(../Background.png);
background-size: cover;
background-repeat: no-repeat
}

.pixelish-font{
  font-family: 'Press Start 2P', cursive;
}

.maxish-container{
  max-width: 900px;
  max-height: 765px;
}

.actionish-box{
  background-color: rgb(241, 241, 241);
  height: 100px;
  width: 450px;
  border-radius: 10px;
}

.hidden{
  display: none;
}